/*
Created by Mircea Gancea 05.05.2017,
Modified by Mircea Gancea 12.09.2017
*/

/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*General Settings*/

body {
	width: 75%;
	margin: 0 auto;
}

h1 {
	float: left;
}

main {
	width: 100%;
	margin: 0 auto;
	padding-top: 6em;
	display: block;
	overflow: hidden;
}

main img {
	border-radius: 1em;
}

main ul li a {
	display: block;
}

main div {
	overflow: hidden;
}

main {
	
}

/*Header*/

header {
	width: 100%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	padding: 0 0 0em 0em;
	position: fixed;
	background-color: #ffffff;
	height: 7em;
	z-index: 10;
}

body,header {
  /background: linear-gradient(180deg, #ffffff 25%, #f2f2f2 75%);
  /background: linear-gradient(180deg, #ffffff 25%, #e6f5ff 75%);
  background-size: 9em 9em;
  background-attachment: fixed;
}

#logo {
	display: block;
	float: left;
	margin: 0 0.5em 0em 1.5em;
	border-right: 1px solid #0099ff;
	border-bottom: 1px solid #0099ff;
	border-radius: 1em;
}

#logo img {
	border-radius: 1em;
}

#main_nav {
	float: left;
	margin-left: 3em;
}

#main_nav ul {
	list-style-type: none;
	margin-top: 2em;
}

#main_nav ul li {
	float: left;
	margin: 0 1em 0 0;
	border-left: 1px solid #0099ff;
	border-bottom: 1px solid #0099ff;
	border-radius: 0.5em;
}

#main_nav ul li a {
	text-decoration: none;
	padding: 1em 1em 1em 1em;
	color: #000000;
	font-weight: bold;
	font-size: 1.5em;
}

#main_nav ul li a:hover {
	color: #FFA500;
}

#main_nav .current {
	color: #0099ff;
}

#button {
	display: none;
}

.hide_nav {
	display: none;
}
.show_nav {
	display: block;
}

/*Home*/

#home_content {
	padding: 7.25em 0 2em 0;
	overflow: hidden;
}

/#home_content ul li img {
	height: 350px;
	width: 250px;
}

#home_img ul {
	list-style-type: none;
}

#home_img li {
	float: left;
	padding: 0.5em 0 0 0.5em;
	margin: 0 0 1em 1em;
	display: block;
}

.display_category {
	display: block;
	background-color: grey;
	position: absolute;
	width: 250px;
	margin: 11.5em 0 0 0;
	text-align: center;
	opacity: 0.75;
	color: white;
	font-size: 1.75em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	visibility: hidden;
}

#home_img li:hover .display_category {
	visibility: visible;
}

#home_div {
	width: 100%;
	clear: left;
	margin: 0 0 0 1.5em;
}

#home_div img {
	width: 95%;
	height: auto;
}

/*About Me*/

#about_me_content {
	padding: 5em 0 2em 0;
	overflow: hidden;
}

#about_me_content img {
	float: right;
	margin: 3em 4em 10em 0em;
	display: block;
}

#about_me_text {
	border: 2px solid #00bfff;
	border-radius: 1em;
	margin: 5em 0em 1em 1.5em;
	width: 45%;
	padding: 0 1em 1em 2em;
	background-color: #e6f5ff;
	float: left;
}

#about_me_text h2 {
	padding: 0.5em 0 0.5em 2em;
	font-size: 2em;
}

#about_me_text p {
	font-size: 1.5em;
	text-indent: 1em;
	/border-bottom: 1px solid #0099ff;
	padding: 0.25em 0 0.25em 0;
}
#about_me_text p:last-of-type {
	border-bottom: none;
}

/*Portofolio*/

#portofolio_content {
	padding: 3.75em 0 2em 0;
	overflow: hidden;
}

#portofolio_content {
   position: relative;
   z-index: 1;
}

#portrait_slide {
	padding: 4em 0 0 0;
}

.slide_container{
	display: block;
	float: left;
	padding:0 2em 2em 0;
}

#wide_slide {
	clear: left;
}

/*Slides*/

/*
 *	generated by WOW Slider 8.7
 *	template Elegant
 */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext);
.slide_container { 
	display: table;
	zoom: 1; 
	position: relative;
	width: 100%;
	max-width: 657px;
	max-height:800px;
	margin:0px auto 0px;
	z-index:90;
	text-align:left; /* reset align=center */
	font-size: 10px;
	text-shadow: none; /* fix some user styles */

	/* reset box-sizing (to boostrap friendly) */
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; 
}
* html .slide_container{ width:571px }
.slide_container .ws_images ul{
	position:relative;
	width: 10000%; 
	height:100%;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
	/*table-layout:fixed;*/
}
.slide_container .ws_images ul li{
	position: relative;
	width:1%;
	height:100%;
	line-height:0; /*opera*/
	overflow: hidden;
	float:left;
	/*font-size:0;*/
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

.slide_container .ws_images{
	position: relative;
	left:0;
	top:0;
	height:100%;
	max-height:800px;
	max-width: 657px;
	vertical-align: top;
	border:none;
	overflow: hidden;
}
.slide_container .ws_images ul a{
	width:100%;
	height:100%;
	max-height:800px;
	display:block;
	color:transparent;
}
.slide_container img{
	max-width: none !important;
}
.slide_container .ws_images .ws_list img,
.slide_container .ws_images > div > img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
	margin:0;
}
.slide_container .ws_images > div > img {
	max-height:800px;
}

.slide_container .ws_images iframe {
	position: absolute;
	z-index: -1;
}

.slide_container .ws-title > div {
	display: inline-block !important;
}

.slide_container a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

.slide_container  .ws_bullets { 
	float: left;
	position:absolute;
	z-index:70;
}
.slide_container  .ws_bullets div{
	position:relative;
	float:left;
	font-size: 0px;
}
/* compatibility with Joomla styles */
.slide_container  .ws_bullets a {
	line-height: 0;
}

.slide_container  .ws_script{
	display:none;
}
.slide_container sound, 
.slide_container object{
	position:absolute;
}

/* prevent some of users reset styles */
.slide_container .ws_effect {
	position: static;
	width: 100%;
	height: 100%;
}

.slide_container .ws_photoItem {
	border: 2em solid #fff;
	margin-left: -2em;
	margin-top: -2em;
}
.slide_container .ws_cube_side {
	background: #A6A5A9;
}


.slide_container.ws_gestures {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}
.slide_container.ws_gestures.ws_grabbing {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}

/* hide controls when video start play */
.slide_container.ws_video_playing .ws_bullets,
.slide_container.ws_video_playing .ws_fullscreen,
.slide_container.ws_video_playing .ws_next,
.slide_container.ws_video_playing .ws_prev {
	display: none;
}


/* youtube/vimeo buttons */
.slide_container .ws_video_btn {
	position: absolute;
	display: none;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 55;
}
.slide_container .ws_video_btn.ws_youtube,
.slide_container .ws_video_btn.ws_vimeo {
	display: block;
}
.slide_container .ws_video_btn div {
	position: absolute;
	background-image: url(./playvideo.png);
	background-size: 200%;
	top: 50%;
	left: 50%;
	width: 7em;
	height: 5em;
	margin-left: -3.5em;
	margin-top: -2.5em;
}
.slide_container .ws_video_btn.ws_youtube div {
	background-position: 0 0;
}
.slide_container .ws_video_btn.ws_youtube:hover div {
	background-position: 100% 0;
}
.slide_container .ws_video_btn.ws_vimeo div {
	background-position: 0 100%;
}
.slide_container .ws_video_btn.ws_vimeo:hover div {
	background-position: 100% 100%;
}

.slide_container .ws_playpause.ws_hide {
	display: none !important;
}
.slide_container  .ws_bullets { 
	padding: 10px; 
}
.slide_container .ws_bullets a { 
	margin-left:6px;
	width:13px;
	height:13px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	color:transparent;
}
.slide_container .ws_bullets a.ws_selbull, .slide_container .ws_bullets a:hover{
	background-position: 0 100%;
}
.slide_container a.ws_next, .slide_container a.ws_prev {
	position:absolute;
	top:50%;
	margin-top:-2.1em;
	z-index:60;
	height: 3.2em;
	width: 3.2em;
	background-image: url(../images/slides/arrows.png);
	background-size: 200%;
}
.slide_container a.ws_next{
	background-position: 100% 0;
	right:0.5em;
}
.slide_container a.ws_prev {
	left:0.5px;
	background-position: 0 0; 
}
.slide_container a.ws_next:hover{
	background-position: 100% 100%;
}
.slide_container a.ws_prev:hover {
	background-position: 0 100%; 
}

/*playpause*/
.slide_container .ws_playpause {
    width: 3.2em;
    height: 3.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.6em;
    margin-top: -1.6em;
    z-index: 59;
	background-size: 100%;
}

.slide_container .ws_pause {
    background-image: url(../images/slides/pause.png);
}

.slide_container .ws_play {
    background-image: url(../images/slides/play.png);
}

.slide_container .ws_pause:hover, .slide_container .ws_play:hover {
    background-position: 100% 100% !important;
}/* bottom center */
.slide_container  .ws_bullets {
	bottom:-5px;
	left:50%;
}
.slide_container  .ws_bullets div{
	left:-50%;
}
/* separate */
.slide_container .ws-title{
	position: absolute;
	display:block; 
    font: 2.5em 'Source Sans Pro', Arial, sans-serif;
	bottom:1.1em;
	left:0;
	margin-right:0.1em;
	z-index: 50;
	color: #ffffff;	
	line-height: 1em;

}
.slide_container .ws-title div,.slide_container .ws-title span{ 
	display:inline-block; 
	margin-top:0.5em;
	background:#3399FF;
	font-weight: normal;	
	border-radius:0;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);	

}
.slide_container .ws-title div{ 
	display:block;
	margin-top:0.5em; 
	font-size: 0.72em;
	background:#ffffff;	
	color: #3399FF;
	padding:0.5em;
	line-height: 1.28em;
}
.slide_container .ws-title span{
	padding:0.4em;
}.slide_container  .ws_thumbs { 
	overflow:auto;
	z-index:60;
}
.slide_container .ws_thumbs img{
	text-decoration: none;
	border: 0;
	width: 100%;
}
.slide_container .ws_thumbs a {
	position:relative;
	text-indent: -4000px; 
	color:transparent;
	opacity:0.85;
	text-decoration: none;
	display: inline-block;
	border: 0;
	line-height: 0;
	margin:3.85%;
	text-indent:0;
	padding: 1.28%;
	width: 89.74%;
	max-width: 70px;
}
.slide_container .ws_thumbs a:hover{
	opacity:1;
}
.slide_container .ws_thumbs a:hover img{
	visibility:visible;
}
.slide_container .ws_images {
	margin-left: 9.3em;
}
.slide_container div.ws_shadow {
	left: 9.3em;
	right: -$frameL$%;
	margin-left: -$frameL$%;
	width: auto;
}
.slide_container .ws_thumbs {
    position: absolute;
    text-align: left;

    top: 0;
    left: 0;
	width:9.3em;
	height:100%;
}
.slide_container  .ws_thumbs div{
	position:relative;
	width:100%;
}.slide_container .ws_thumbs a.ws_selthumb{
	background-color: #3399FF;
}

.slide_container .ws_thumbs  a{
	background-color: #fff;
}

.slide_container .ws_images > ul{
	animation: wsBasic 24s infinite;
	-moz-animation: wsBasic 24s infinite;
	-webkit-animation: wsBasic 24s infinite;
}
@keyframes wsBasic{0%{left:-0%} 12.5%{left:-0%} 16.67%{left:-100%} 29.17%{left:-100%} 33.33%{left:-200%} 45.83%{left:-200%} 50%{left:-300%} 62.5%{left:-300%} 66.67%{left:-400%} 79.17%{left:-400%} 83.33%{left:-500%} 95.83%{left:-500%} }
@-moz-keyframes wsBasic{0%{left:-0%} 12.5%{left:-0%} 16.67%{left:-100%} 29.17%{left:-100%} 33.33%{left:-200%} 45.83%{left:-200%} 50%{left:-300%} 62.5%{left:-300%} 66.67%{left:-400%} 79.17%{left:-400%} 83.33%{left:-500%} 95.83%{left:-500%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 12.5%{left:-0%} 16.67%{left:-100%} 29.17%{left:-100%} 33.33%{left:-200%} 45.83%{left:-200%} 50%{left:-300%} 62.5%{left:-300%} 66.67%{left:-400%} 79.17%{left:-400%} 83.33%{left:-500%} 95.83%{left:-500%} }

.slide_container .ws_bullets  a img{
	text-indent:0;
	display:block;
	bottom:20px;
	left:-35px;
	visibility:hidden;
	position:absolute;
    border: 1px solid #FFFFFF;
	max-width:none;
}
.slide_container .ws_bullets a:hover img{
	visibility:visible;
}

.slide_container .ws_bulframe div div{
	height:99px;
	overflow:visible;
	position:relative;
}
.slide_container .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:70px;
	background-color:#FFFFFF;
}
.slide_container  .ws_bullets .ws_bulframe{
	display:none;
	bottom:20px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 1px solid #FFFFFF;
}
.slide_container .ws_bulframe span{
	display:block;
	position:absolute;
	bottom:-8px;
	margin-left:-1px;
	left:35px;
	background:url(./triangle.png);
	width:13px;
	height:7px;
}.slide_container .ws_bulframe div div{
	height: auto;
}

@media all and (max-width:760px) {
	.slide_container .ws_fullscreen {
		display: block;
	}
}
@media all and (max-width:400px){
	.slide_container .ws_controls,
	.slide_container .ws_bullets,
	.slide_container .ws_thumbs{
		display: none
	}
}

 /* Wide slide */

/*
 *	generated by WOW Slider 8.7
 *	template Numeric
 */

#wowslider-container11 { 
	display: table;
	zoom: 1; 
	position: relative;
	width: 100%;
	max-width: 1335px;
	max-height:800px;
	margin:0px auto 0px;
	z-index:90;
	text-align:left; /* reset align=center */
	font-size: 10px;
	text-shadow: none; /* fix some user styles */

	/* reset box-sizing (to boostrap friendly) */
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; 
}
* html #wowslider-container11{ width:1335px }
#wowslider-container11 .ws_images ul{
	position:relative;
	width: 10000%; 
	height:100%;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
	/*table-layout:fixed;*/
}
#wowslider-container11 .ws_images ul li{
	position: relative;
	width:1%;
	height:100%;
	line-height:0; /*opera*/
	overflow: hidden;
	float:left;
	/*font-size:0;*/
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container11 .ws_images{
	position: relative;
	left:0;
	top:0;
	height:100%;
	max-height:800px;
	max-width: 1335px;
	vertical-align: top;
	border:none;
	overflow: hidden;
}
#wowslider-container11 .ws_images ul a{
	width:100%;
	height:100%;
	max-height:800px;
	display:block;
	color:transparent;
}
#wowslider-container11 img{
	max-width: none !important;
}
#wowslider-container11 .ws_images .ws_list img,
#wowslider-container11 .ws_images > div > img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
	margin:0;
}
#wowslider-container11 .ws_images > div > img {
	max-height:800px;
}

#wowslider-container11 .ws_images iframe {
	position: absolute;
	z-index: -1;
}

#wowslider-container11 .ws-title > div {
	display: inline-block !important;
}

#wowslider-container11 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container11  .ws_bullets { 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container11  .ws_bullets div{
	position:relative;
	float:left;
	font-size: 0px;
}
/* compatibility with Joomla styles */
#wowslider-container11  .ws_bullets a {
	line-height: 0;
}

#wowslider-container11  .ws_script{
	display:none;
}
#wowslider-container11 sound, 
#wowslider-container11 object{
	position:absolute;
}

/* prevent some of users reset styles */
#wowslider-container11 .ws_effect {
	position: static;
	width: 100%;
	height: 100%;
}

#wowslider-container11 .ws_photoItem {
	border: 2em solid #fff;
	margin-left: -2em;
	margin-top: -2em;
}
#wowslider-container11 .ws_cube_side {
	background: #A6A5A9;
}


#wowslider-container11.ws_gestures {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}
#wowslider-container11.ws_gestures.ws_grabbing {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}

/* hide controls when video start play */
#wowslider-container11.ws_video_playing .ws_bullets,
#wowslider-container11.ws_video_playing .ws_fullscreen,
#wowslider-container11.ws_video_playing .ws_next,
#wowslider-container11.ws_video_playing .ws_prev {
	display: none;
}


/* youtube/vimeo buttons */
#wowslider-container11 .ws_video_btn {
	position: absolute;
	display: none;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 55;
}
#wowslider-container11 .ws_video_btn.ws_youtube,
#wowslider-container11 .ws_video_btn.ws_vimeo {
	display: block;
}
#wowslider-container11 .ws_video_btn div {
	position: absolute;
	background-image: url(./playvideo.png);
	background-size: 200%;
	top: 50%;
	left: 50%;
	width: 7em;
	height: 5em;
	margin-left: -3.5em;
	margin-top: -2.5em;
}
#wowslider-container11 .ws_video_btn.ws_youtube div {
	background-position: 0 0;
}
#wowslider-container11 .ws_video_btn.ws_youtube:hover div {
	background-position: 100% 0;
}
#wowslider-container11 .ws_video_btn.ws_vimeo div {
	background-position: 0 100%;
}
#wowslider-container11 .ws_video_btn.ws_vimeo:hover div {
	background-position: 100% 100%;
}

#wowslider-container11 .ws_playpause.ws_hide {
	display: none !important;
}

#wowslider-container11  .ws_bullets { 
	padding: 10px; 
}
#wowslider-container11 .ws_bullets a { 
	font:14px/32px Arial,Helvetica,sans-serif; 
	color:#3D3D3D;
	text-align:center;
	margin-left:-3px;
	width:32px;
	height:32px;
	background: url(./bullet.png) left top;
	float: left; 
	position:relative;
}
#wowslider-container11 .ws_bullets a.ws_selbull, #wowslider-container11 .ws_bullets a:hover{
	background-position: right top;
}
#wowslider-container11 a.ws_next, #wowslider-container11 a.ws_prev {
	background-size: 200%;

	position:absolute;
	top:50%;
	margin-top:-2.1em;
	z-index:60;
	height: 4.3em;
	width: 2.9em;
	background-image: url(../images/slides/wide/arrows.png);
}
#wowslider-container11 a.ws_next{
	background-position: 100% 0;
	right:0;
}
#wowslider-container11 a.ws_prev {
	left:0;
	background-position: 0 0; 
}
#wowslider-container11 a.ws_next:hover{
	background-position: 100% 100%;
}
#wowslider-container11 a.ws_prev:hover {
	background-position: 0 100%; 
}

/*playpause*/
#wowslider-container11 .ws_playpause {
    width: 2.8em;
    height: 4.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.4em;
    margin-top: -2.1em;
    z-index: 59;
	background-size: 100%;
}

#wowslider-container11 .ws_pause {
    background-image: url(../images/slides/wide/pause.png);
}

#wowslider-container11 .ws_play {
    background-image: url(../images/slides/wide/play.png);
}

#wowslider-container11 .ws_pause:hover, #wowslider-container1 .ws_play:hover {
    background-position: 100% 100% !important;
}/* bottom center */
#wowslider-container11  .ws_bullets {
    bottom: -5px;
	left:50%;
}
#wowslider-container11  .ws_bullets div{
	left:-50%;
}
#wowslider-container11 .ws-title{
	position: absolute;
    font: 1.8em Arial, Helvetica, sans-serif;
	bottom:7%;
	left: 0;
	margin-right:0.5em;
	z-index: 50;
	color: #3d3d3d;
	text-transform:uppercase;
}
#wowslider-container11 .ws-title div,#wowslider-container11 .ws-title span{
	display:inline-block;
	padding:0.5em;
	background:#fff;
	-moz-border-radius:0 0.25em 0.25em 0;
	border-radius:0 0.25em 0.25em 0; 
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	
}
#wowslider-container11 .ws-title div{
	display:block;
	margin-top:1em;
	font-size: 0.666em;
	text-transform:none;
	padding:0.8em;
}#wowslider-container11 .ws_images > ul{
	animation: wsBasic 15s infinite;
	-moz-animation: wsBasic 15s infinite;
	-webkit-animation: wsBasic 15s infinite;
}
@keyframes wsBasic{0%{left:-0%} 20%{left:-0%} 33.33%{left:-100%} 53.33%{left:-100%} 66.67%{left:-200%} 86.67%{left:-200%} }
@-moz-keyframes wsBasic{0%{left:-0%} 20%{left:-0%} 33.33%{left:-100%} 53.33%{left:-100%} 66.67%{left:-200%} 86.67%{left:-200%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 20%{left:-0%} 33.33%{left:-100%} 53.33%{left:-100%} 66.67%{left:-200%} 86.67%{left:-200%} }

#wowslider-container11 .ws_bulframe div div{
	height: auto;
}

#wowslider-container11 {
	margin-left: 0;
}

@media all and (max-width:760px) {
	#wowslider-container11 .ws_fullscreen {
		display: block;
	}
}
@media all and (max-width:400px){
	#wowslider-container11 .ws_controls,
	#wowslider-container11 .ws_bullets,
	#wowslider-container11 .ws_thumbs{
		display: none
	}
}

/*Contact*/

#contact_content {
	background-image: url('../images/contact_img2.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	padding: 7em 0 2em 0;
	overflow: hidden;
}

form {
	float: right;
	width: 40%;
	padding: 2em 5em 15em 3.5em;
	margin-right: 1em;
	display: block;
	color: white;
}

#confirm_content {
	background-image: url('../images/contact_img2.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	padding: 7em 0 2em 0;
	overflow: hidden;
}

#confirm {
	color: white;
	padding: 0em 0 14em 0;
	font-size: 3em;
}

#form_errors {
	color: white;
	padding: 0em 1em 4em 1em;
	font-size: 1.5em;
}

form p {
	font-size: 1.25em;
	text-indent: 1em;
	margin: 0 0 1em 0;
}

label {
	float: left;
	font-size: 1.5em;
	font-weight: 500;
}

input {
	width: 25em;
	height: 2em;
	border: 1px solid #0099ff;
}

#send {
	width: 6em;
	border-radius: 0.4em;
	margin: 0 0 0 2em;
	font-size: 1em;
	font-weight: bold;
}

fieldset{
	border-radius: 2em;
	border: 1px solid #0099ff;
}

legend {
	font-weight: bold;
	font-size: 2em;
}

.form_control {
	padding-bottom: 2em;
	margin: 0 0 0 2em;
}

textarea {
	height: 7em;
	width: 25em;
	border: 1px solid #0099ff;
}

.input_error {
	color: #ff0000;
}

#contact_content img {
	float: left;
	margin: 3em 4em 2em 5em;
	display: none;
}

/*Footer*/

footer {
	display: block;
	clear: left;
	background-color: #ffffff;
	width: 100%;
	margin: 0 auto;
	padding: 0 0 0 2em;
}

#social_icons {
	list-style-type: none;
	margin-top: 2em;
}

#social_icons li {
	float: left;
	margin: 0 1em 0 0;
}

#social_icons li a {
	text-decoration: none;
}

footer img {
	border-radius: 0.25em;
}

#social_icons li:last-of-type {
	padding: 0 5em 0 0;
}

#contact_info {
	margin: 1em 0 0 0;
	float: left;
}

#contact_info li {
	float: left;
	margin: 0 1em 0 0;
	font-size: 1.5em;
}

footer p {
	float: left;
	padding: 0em 1em 1em 0;
	font-size: 1.5em;
	margin: 0.25em 0 0 0;
}

footer a {
	color: blue;
}

#copyright {
	float: right;
	padding: 0 6em 0 0;
	color: #00bfff;
	font-size: 1.25em;
}

span a:visited {
	color: white;
}

#top_link {
	float: left;
	visibility: hidden;
	font-size: 1.5em;
	clear: left;
	margin: 0.5em 0 0 0;
}

/*Breakpoints*/

@media screen and (max-width: 1810px){
	#portofolio_content {
		width: 150%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1400px){
	#about_me_content {
		width: 100%;
		margin: 0 auto;
		padding: 5em 0 2em 0;
		overflow: hidden;
	}
	
	#about_me_content img {
		margin: 5em 0 10em 0;
	}
	
	#about_me_text {
		width: 45%;
	}
}

@media screen and (max-width: 1230px){
	#main_nav {
		float: left;
		display: block;
		margin-left: 1em;
	}
	
	#about_me_content img {
		float: left;
		margin: 2em 0 2em 2em;
	}

	#about_me_text {
		width: 80%;
	}
}

@media screen and (max-width: 1120px) {
	body {
		width: 85%;
		margin: 0 auto;
	}
	
	#home_img img {
		min-height: 560px;
		min-width: 400px;
	}
	
	#home_div img {
		width: 95%;
		height: auto;
		margin: 0 2em 0 0;
	}
	
	#home_img img {
		min-height: 490px;
		min-width: 350px;
		
	}
	.display_category {
		width: 350px;
		margin: 14.3em 0 0 0;
		font-size: 2em;
	}
	
	#portofolio_content {
		width: 100%;
		margin: 0 auto;
	}
	
	footer div {
		margin: 0 1em 0 0;
	}
}

@media screen and (max-width: 1000px) {
	header {
		position: relative;
		overflow: hidden;
		z-index: 0;
		height: auto;
	}
	
	#logo {
		border-right: none;
		border-bottom: none;
		border-radius: 0;
		padding: 0 0 0 5em;
		float: none;
		display: block;
		width: 45%;
		margin: 0 auto;
	}
	
	#main_nav {
		display: none;
	}
	
	#button {
		padding: 0.5em 0 0 0.5em;
		text-decoration: none;
		color: #000000;
		font-size: 2em;
		display: block;
		clear: left;
		width: 25%;
		margin: 0 auto;
		font-weight: bold;
	}
	
	#mobile_nav {
		padding: 0.5em 0 0 0;
		width: 60%;
		margin: 0 auto;
	}

	#mobile_nav ul {
		list-style-type: none;
		margin-top: 1em;
	}

	#mobile_nav ul li {
		margin: 1em 1em 0 0;
		border: 1px solid #0099ff;
		border-radius: 0.5em;
		text-align: center;
	}

	#mobile_nav ul li a {
		display: block;
		text-decoration: none;
		margin: 0.1em 0.1em 0.1em 0.1em;
		color: #000000;
		font-weight: bold;
		font-size: 2em;
		position: center;
	}
	
	#home_content {
		padding: 0.5em 0 0 0;
	}
	
	.display_category {
		width: 350px;
		margin: 14.3em 0 0 0;
		visibility: visible;
	}
	
	#about_me_content {
		padding: 1em 0 2em 0;
	}
	
	#about_me_text {
		margin-top: 0;
	}
	
	#portofolio_content {
		padding: 0 0 2em 0;
	}
	
	#portrait_slide {
		padding: 1em 0 0 0;
	}
	
	#contact_content{
		margin: 1em 0 0 0;
	}
	
	form {
		float: none;
		width: 70%;
		margin: 0 auto;
		margin-top: -4em;
		padding: 0 0 0 0;
	}

	#top_link{
		visibility: visible;
		clear: left;
	}
	
	#copyright {
		float: left;
		clear: left;
	}

	footer p {
		padding: 0em 1em 0em 0;
		font-size: 1.25em;
		margin: 1em 0 0 0;
	}

}

@media screen and (min-width: 1000px){
	.show_nav {
		display: none;
	}
}

@media screen and (max-width: 885px){
	body {
			width: 100%;
			margin: 0 auto;
		}
}

@media screen and (max-width: 770px){
	#logo {
		
		padding: 0 0 0 4em;
	}
	
	#home_img img {
		min-height: 420px;
		min-width: 300px;
	}
	
	.display_category {
		width: 300px;
		margin: 12.15em 0 0 0;
	}
}

@media screen and (max-width: 670px){
	#logo {
		padding: 0 0 0 0.5em;
	}
	
	#home_img img {
		min-height: 560px;
		min-width: 400px;
	}
	
	.display_category {
		width: 400px;
		margin: 16.5em 0 0 0;
	}
	
	#home_div img {
		width: 90%;
		height: auto;
	}

	#about_me_content img {
		margin: 2em 0 0 1em;
	}
	
	#about_me_text{
		margin-left: 1em;
	}
	
	#about_me_text h2 {
		padding: 0.5em 0 0.5em 0.5em;
		font-size: 2em;
	}
	
	#contact_content {
		background-image: url('../images/contact_imgM.jpg');
		background-attachment: initial;
		background-position: center;
		background-repeat: no-repeat;
		padding: 7em 0 2em 0;
	}
	
	form {
		width: 90%;
		margin-left: 1em;
	}
	
	input {
		width: 20em;
	}
	
	textarea {
		width: 20em;
	}
}



