<form id="contact" action="http://rawmaster.co.uk/index.php?page=contact" method="post">
			<fieldset>
				<legend>[+legend+]</legend>
				<p>[+p1+]</p>
				<p>[+p2+]</p>
				<div class="form_control">
					<div>
						<label for="name" >[+field_1+]:</label>
					</div>
					<div>
						<input type="text" name="name" id="name" value="[+value_name+]">
					</div>
					<div>
						<span id="name_error" class="input_error"></span>
					</div>
				</div>
				<div class="form_control">
					<div>
						<label for="phone" >[+field_2+]:</label>
					</div>
					<div>
						<input type="text" name="phone" id="phone" value="[+value_phone+]">
					</div>
					<div>
						<span id="phone_error" class="input_error"></span>
					</div>
				</div>
				<div class="form_control">
					<div>
						<label for="email" >[+field_3+]:</label>
					</div>
					<div>
						<input type="text" name="mail" id="email" value="[+value_email+]">
					</div>
					<div>
						<span id="email_error" class="input_error"></span>
					</div>
				</div>
				<div class="form_control">
					<div>
						<label for="message">[+field_4+]:</label>
					</div>
					<div>
						<textarea name="message" id="message" >[+value_message+]</textarea>
					</div>
					<div>
						<span id="message_error" class="input_error"></span>
					</div>
				</div>
				<input id="send" type="submit" name="sendmsg" value="[+submit+]">
			</fieldset>
			</form>