<!DOCTYPE html>
<html>
    <head>
		<title>[+title+]</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.8">
		<meta name="description" content="Portraiture professional photographer located in London">
		<meta name="keywords" content="photographer, professional photographer, portraiture photographer, professional portraits, wedding Photographer">
		<meta property="og:locale" content="en_US"/>
		<meta property="og:title" content="Rawmaster - Professional Photographer"/>
		<meta property="og:url" content="https://rawmaster.co.uk"/>
		<meta property="og:type" content="website"/>
		<meta name="author" content="Mircea Gancea">
		<link rel="icon" type="image/jpg" href="images/test.jpg"/>
		<link rel="stylesheet" href="[+css+]">
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/header.js"></script>
    </head>
    <body>
		<header>
			<div id="logo">
			[+logo+]
			</div>
			<nav id="main_nav">
				<ul>
					[+menu+]
				</ul>
			</nav>
			<a id="button" href="#" onclick="display_menu()">Menu</a>
			<nav id="mobile_nav" class="hide_nav">
				<ul>
					[+menu+]
				</ul>
			</nav>
		</header>