<main id="portofolio_content">
<script type="text/javascript" src="js/portfolio.js"></script>
	<div id="portrait_slide">
		[+content+]
	</div>		
	<div id="wide_slide">
			<div id="wowslider-container11">
				<div class="ws_images">
					<ul>
						<li><img src="images/slides/wide/main/01.jpg" alt="01" title="01" id="wows11_0"/></li>
						<li><img src="images/slides/wide/main/02.jpg" alt="02" title="02" id="wows11_1"/></li>
						<li><img src="images/slides/wide/main/03.jpg" alt="03" title="03" id="wows11_2"/></li>
					</ul>
				</div>
				<div class="ws_bullets">
					<div>
						<a href="#" title="01"><span><img src="images/slides/wide/thumbs/01.jpg" alt="01"/>1</span></a>
						<a href="#" title="02"><span><img src="images/slides/wide/thumbs/02.jpg" alt="02"/>2</span></a>
						<a href="#" title="03"><span><img src="images/slides/wide/thumbs/03.jpg" alt="03"/>3</span></a>
					</div>
				</div>
			</div>
	<script type="text/javascript" src="js/slide11.js"></script>
	</div>		
</main>